$colorBg: #f3f7fa;
$colorHover: #f1fcff;
$colorPrime: #2196f3;
$colorTitleText: #211c1c;
$colorText: #4a4a4a;
$colorSubText: #a0b0b9;
$colorBgWhite: #fff;
$colorBoxShadow: #0000001a;
$colorShowText: #2196f3;
$colorWhiteText: #fff;
