@import "../styles/variables";

.filter-container {
  background-color: $colorBgWhite;
  border-radius: 5px;
  width: 232px;
  box-shadow: 0 2px 8px 0 $colorBoxShadow;
  height: 252px;
}

.filter-title {
  color: $colorTitleText;
  margin: 14px 0 0 20px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.check {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 0 0 20px;
}

.check__item {
  width: 100%;

  :hover {
    cursor: url("../img/icons/Cursor.svg"), auto;
    background-color: $colorHover;
  }
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/Form.svg");
}

.check__input:checked + .check__box {
  background-image: url("../img/icons/Checkbox.svg");
}

.check__title {
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  padding: 0 30px;
}
